[user]
  email = shimada.reona@gmail.com
	name = reona5
	signingkey = 03164D612CE72E52
[core]
	editor = nvim
[merge]
	ff = false
[pull]
	rebase = true
	prune = true
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[ghq]
	root = ~/src
[commit]
	gpgsign = true
[rebase]
	autostash = true
	abbreviateCommands = true
	autosquash = true
